body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: cornflowerblue;
}
.site-title {
    color: crimson;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
ul {
    list-style-type: square;
}
ul :nth-child(odd) {
    background-color:lightslategray;
}
a:link {
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 217, 0);
}
a:hover {
    background-color: cornflowerblue;
    color: white;
}